@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.image img{
    flex-basis:25%;
    border-radius:10px;
    transition:30ms;
}
.image img:hover{
   transform:scale(1.1);
}
.header h1{
    color:rgb(235, 230, 230)
}
body {
    margin: 0;
}

.header {
    padding: 175px;
    text-align: center;
    background: #c41624;
    color: white ;
    outline: 3px solid white;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("logo.jpg");
    font-family: Monospace;
}
  .header h1 {
    font-size: 70px;
    font-family: 'Ranchers', cursive;
}

.navbar {
    overflow: hidden;
    background-color: gray;
}
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 30px;
    text-decoration: none;
    outline: 1px solid white;
    font-family: 'Ranchers', cursive;
}
.navbar a.right {
    float:right;
    font-family: 'Ranchers', cursive;
}
.navbar a:hover {
    text-align: center;
    background-color: #993d46;
    color: #8c7e35;
    font-family: 'Ranchers', cursive;
}

.image h2{
    font-family: 'Ranchers', cursive;
}
.image h3{
    font-family: 'Ranchers', cursive;
}
.image p{
    font-family: 'Ranchers', cursive;
    font-size: 1.5em;
}
.image img{
    margin-left: 500px;
    display:block;
    float: left;
    margin-right: 25px;
    font-family: 'Ranchers', cursive;
}
a{
    text-decoration: none;
    color: black;
}
main .section2 {
    text-align:center;
    font-family: 'Ranchers', cursive;
}

main .section2 .images{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .section2 .text{
    text-align: center;
    font-size:30px;
}

main .section2 .images img{
    flex-basis:25%;
    width:12rem;
    margin-top:10px;
    border-radius:10px;
    transition:30ms;
}

main .section2 .images img:hover{
   transform:scale(1.1);
}
main .section-3 {
    margin-top:90px;
    font-family: 'Pacifico', cursive;
}

main .section-3 .row {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}

main .section-3 .row .cardPizza{
    flex-basis:15rem;
    border:1px solid #f2a22c;
    border-radius:10px;
    padding-bottom:10px;
    background:white;
    margin:10px 40px;
}

main .section-3 .row .cardPizza{
    text-align:center;
}

main .section-3 .row .cardPizza img{
    width:15rem;
    border-radius:10px;
}

main .section-3 .row .cardPizza #last{
    background:linear-gradient(0.25turn ,#FFA318,#ee3d16);
    width:200px;
    text-align: center;
    border:1px solid #FFA318;
    color:white;
    padding:10px 10px;
    border-radius:10px;
    cursor:pointer;
    font-family: 'Ranchers', cursive;
}
main .section-3 .row .cardPizza #last:hover{
    background:linear-gradient(0.25turn ,#ee3d16,#FFA318);
    border:1px solid #FFA318;
    color:white;
}

main .section-3 .menuPizza{
    text-align:center;
    margin-bottom:50px;
}

main .section-3 .menuPizza a{
    margin:0pc 10px;
    font-weight:bold;
    cursor:pointer;
    font-size: 22px;
}

main .section-3 .menuPizza a:hover{
    color:#FFA318;
    transform:scale(1.1);
}
.rejestracja h1 {
    font-family: 'Ranchers', cursive;
}
.rejestracja {
    padding-left: 50px;
}
.formField{font: inherit; border: 1px solid #ccc; border-radius: 3px; margin: 3px 0 10px 0; padding: 3px 0}
textarea.formField{width: 300px; height: 70px}
#sendBtn{cursor:pointer;background: #ccc; background: linear-gradient(#ddd 0, #eee 100%); border: 1px solid #ccc; line-height: 32px; font-size: 14px;padding: 0 25px; border-radius: 3px}
#send_form_status{border: 1px dashed #ccc;display: none; padding: 0 10px; margin: 10px 0}
.status_ok{color: #060}
.status_err{color: #F00};